### Paths #################################################

# All Networks driver
NETWORKS_DRIVER=bridge

### CADDY #################################################

CADDY_VERSION=latest
CADDY_HOST_HTTP_PORT=80
CADDY_HOST_HTTPS_PORT=443
DATA_PATH_HOST=./caddy/data
CADDY_HOST_LOG_PATH=./caddy/log
SOURCE_PATH=./caddy/www

### SSL ###################################################

CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=

### DOMAIN ################################################

DOMAIN=

### V2Ray #################################################

V2RAY_PORT=

V2RAY_BACKEND_UUID=
V2RAY_FRONTEND_UUID=

V2RAY_PATH=
